<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    {% for product in product_page %}
        <div class="col mb-5">
            <div class="cartao-food h-100">
                {% if product.is_sale %}
                    <div class="badge bg-dark text-white position-absolute" 
                        style="top: 0.5rem; right: 0.5rem">
                        Saldos
                    </div>
                {% endif %}
                <img class="cartao-food-img" src="{{ product.image.url }}" alt="Product image" />
                <div class="cartao-food-body p-4">
                    <div class="text-center">
                        <h5 class="cartao-food-title fw-bolder">{{ product.name }}</h5>
                        {% if product.is_sale %}
                            <strike>${{ product.price }}</strike> &nbsp;${{ product.sale_price }}
                        {% else %}
                            <p class="cartao-food-price">${{ product.price }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="cartao-food-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center mb-2 cartao-food-buttons">
                        <a class="cartao-food-btn mt-auto" href="{% url 'about_product' product.id %}">
                            SABER MAIS
                        </a>
                    </div>
                    <div class="text-center cartao-food-buttons">
                        <button type="button" value="{{ product.id }}" 
                            class="cartao-food-btn cartao-food-btn-secondary add-to-cart-h"> 
                            ADICIONAR <i class="bi bi-basket"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="d-flex justify-content-center mt-4">
    <div class="pagination">
        {% if product_page.has_previous %}
            <a href="?page={{ product_page.previous_page_number }}" class="page-link">&laquo; Voltar</a>
        {% endif %}
        {% if product_page.has_next %}
            <a href="?page={{ product_page.next_page_number }}" class="page-link">Próximo &raquo;</a>
        {% endif %}
    </div>
</div>
