{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Section -->
    <section class="custom-pattern py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for product in products %}
                <div class="col mb-5 d-flex justify-content-center">
                    <!-- Custom Food Card Container -->
                    <div class="food-card-container">
                        <!-- Custom Food Card -->
                        <div class="food-card">
                            <!-- Front Content (Image) -->
                            <div class="food-front-content">
                                <!-- Product Image -->
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="food-img">
                                
                                <!-- Sales Badge: Only show if is_sale is True -->
                                {% if product.is_sale %}
                                <div class="food-badge position-absolute" style="top: 0.5rem; right: 0.5rem;">
                                    Saldos
                                </div>
                                {% endif %}
                            </div>
                            
                            <!-- Back Content -->
                            <div class="food-content">
                                <p class="food-heading">{{ product.name }}</p>
                                <p>
                                    {{ product.category }}<br>
                                    {% if product.is_sale %}
                                        <strike>{{ product.price }}€</strike> 
                                        <span style="color: #ff9966;">{{ product.sale_price }}€</span>
                                    {% else %}
                                        {{ product.price }}€
                                    {% endif %}
                                </p>
                                <a href="{% url 'about_product' product.id %}" class="btn btn-outline-light btn-sm">Saber Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>

{% endblock %}
