{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        
        <!-- Section-->
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/>
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Nome de Utilizador">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Palavra-chave">
                            </div>
                                <button type="submit" class="btn btn-secondary">Iníciar Sessão</button>
                        </form>
                        <br/>
                    </div>
                </center>
            </div>
        </div>  
{% endblock %}