{% extends 'base.html' %}
{% load static %}

{% block page_title %}
<h1 class="custom-header-title">Política de Privacidade</h1>
{% endblock %}

{% block content %}
<div class="privacy-container">
    <section class="privacy-section">
        <h1 class="privacy-title">Política Privacidade e Proteção de Dados</h1>
        <p>
            Petiscos & Ariscos, Lda., conforme a legislação vigente em matéria de Proteção de Dados de Carácter Pessoal, 
            informa aos Utilizadores da sua plataforma online, sobre a Política de Privacidade e Proteção de Dados que aplicará no tratamento dos dados pessoais 
            que o Utilizador informe voluntariamente ao entrar na página (URL).
        </p>
        <p>
            O Utilizador, ao proporcionar ao (URL), ou a qualquer das suas subsidiárias, os seus dados de carácter pessoal através dos formulários eletrónicos da Web, 
            consente expressamente que (URL), ou a qualquer dos seus franchisados, possa tratar esses dados nos termos desta cláusula de 
            Política de Privacidade e Proteção de Dados e para os fins aqui expressados.
        </p>
        <p>
            Antes de registar-se em (URL), ou a qualquer dos seus franchisados, os Utilizadores devem ler a presente Política de Privacidade e Proteção de Dados. 
            Ao marcar o botão “Registar”, os Utilizador afirmam que leram as presentes Política de Privacidade de Dados.
        </p>
        <p>
            Ao registar-se, os Utilizadores deverão proporcionar alguns dados para a criação da sua conta e a edição do seu perfil. 
            Estes deverão proporcionar os seguintes dados: Primeiro e último nome, e-mail, número de telefone, e morada para a entrega.
        </p>
        <p>
            O Utilizador compromete-se a introduzir dados reais e verdadeiros. Também, será o único responsável dos danos e prejuízos que (URL) ou a qualquer dos seus franchisados, 
            ou terceiros pudessem sofrer como consequência da falta de veracidade, inexatidão, falta de vigência e autenticidade dos dados informados.
        </p>
        <h1 class="privacy-title">Legislação aplicável aos dados pessoais dos Utilizadores (Proteção de Dados de carácter Pessoal):</h1>
        <ol>
            <li>Quem é o responsável dos Dados?</li>
            <li>Que informação compila (URL)?</li>
            <li>Com que finalidade se compila os dados?</li>
            <li>A (URL) partilha a informação que compila?</li>
            <li>Que direitos têm os Utilizadores?</li>
            <li>Como protegemos os dados dos Utilizadores de (URL)?</li>
            <li>Notificações e modificações</li>
        </ol>
        <h1 class="privacy-title">Legislação aplicável aos dados pessoais dos Utilizadores (Proteção de Dados de carácter Pessoal):</h1>
        <p>
            (URL) manifesta o seu compromisso de cumprir com a legislação vigente em cada momento em matéria de proteção de dados. 
            Informa-se aos Utilizadores que os dados de carácter pessoal terão como o objetivo o tratamento automatizado e passarão a formar 
            parte dos arquivos da titularidade de (URL), para as finalidades próprias de gestão de utilizadores registados na Plataforma de (URL)
        </p>
        <table class="privacy-table">
            <thead>
                <tr>
                    <th colspan="2">Informação básica sobre Proteção de Dados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Identidade</strong></td>
                    <td>Petiscos & Ariscos, Lda. NIF: 277</td>
                </tr>
                <tr>
                    <td><strong>Finalidade</strong></td>
                    <td>Fornecimento de refeições caseiras para eventos e consumo particular.</td>
                </tr>
                <tr>
                    <td><strong>Legitimação</strong></td>
                    <td>Conformidade com relação contratual, interesse legítimo e consentimento do utilizador.</td>
                </tr>
                <tr>
                    <td><strong>Direitos</strong></td>
                    <td>Entrar, retificar e suprimir os dados, assim como outros direitos, como se explica na informação adicional.</td>
                </tr>
                <tr>
                    <td><strong>Informação Adicional</strong></td>
                    <td>Pode consultar a informação adicional e detalhada sobre Proteção de dados nos parágrafos seguintes.</td>
                </tr>
            </tbody>
        </table>
        <p>
            De acordo com a legislação aplicável, a seguir, se detalha a Política de Privacidade que a URL utiliza no tratamento dos dados dos Utilizadores que se registam na Plataforma.
        </p>
        <table class="privacy-table">
            <thead>
                <tr>
                    <th colspan="2">Responsável do tratamento de seus dados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Identidade</strong></td>
                    <td>Petiscos & Ariscos, Lda., www.url.pt</td>
                </tr>
                <tr>
                    <td><strong>Endereço Postal</strong></td>
                    <td>Rua das Eirinhas, Bonfim 4300-165, Porto, Portugal</td>
                </tr>
                <tr>
                    <td><strong>Telefone</strong></td>
                    <td>(+351) 917 951 185</td>
                </tr>
                <tr>
                    <td><strong>Formulário de Contato</strong></td>
                    <td>Basta aceder a área presente no rodapé <strong>Contatos</strong> e escolher uma das opções entre <strong>Email</strong> ou <strong>WhatsApp</strong> ou ligar diretamente para o número
                    de <strong>telefone</strong> indicado em cima.</td>
                </tr>
            </tbody>
        </table>
        <h1 class="privacy-title">Que informação recompila URL, ou qualquer dos seus administradores?</h1>
        <p>
            A Plataforma de URL é utilizada tanto pelos Utilizadores, como pela nossa Administradora. A informação que recebemos por parte dos Utilizadores se compila como explicamos a seguir.
            A URL coleta informações do utilizador que contribuem diretamente e outras que são contribuídas indiretamente por meio do uso da plataforma URL.
            <br>
            <strong>A)</strong> Informação que os Utilizadores nos informam diretamente:
            </br>
        </p>
        <ul>
            <li>Dados de Registo: a informação que o Utilizador nos informa quando se cria uma conta na Plataforma da URL: nome pessoal do Utilizador e o e-mail.</li>
            <li>Informação do Perfil do Utilizador: a informação que o Utilizador adicione na Plataforma a efeitos de poder utilizar o serviço da URL. 
                Isto é, o nº de telemóvel e o endereço de entrega. O Utilizador pode ver e editar ou eliminar os dados pessoais de seu perfil quando estime 
                oportuno entrando em contacto com a nossa Administradora ((+351) 917 951 185)).</li>
            <li>Informação adicional que o Utilizador quer compartilhar: a informação que poderia informar o Utilizador 
                a URL com outros fins. Por exemplo, o endereço de facturamento, em caso de solicitar para receber a refeição em sua casa.</li>
            <li>Informações sobre as comunicações feitas com URL: URL terá acesso às informações que os utilizadores fornecem
                para a resolução de dúvidas ou reclamações sobre o uso da plataforma.</li>
        </ul>
        <p>
            O processamento destes dados pela URL é necessário para cumprir com a relação contratual estabelecida.
            Se o utilizador não os fornecer, os serviços solicitados podem não estar disponíveis e o URL não poderá fornecê-los.
        </p>
        <p>
            <strong>B)</strong> Informação que os Utilizadores nos informam indirectamente:
        </p>
        <ul class="disc-list">
            <li>Dados derivados do Uso da Plataforma: URL coleta os dados derivados do Uso da Plataforma por parte do Utilizador cada vez que este interage com a Plataforma.</li>
            <li>Dados do dispositivo: URL armazena os dados do dispositivo e que o Utilizador utiliza para entrar aos serviços. Estes são:
                <ul class="circle-list">
                    <li>Endereço IP de Internet que utiliza o Utilizador para conectar-se a Internet com seu computador ou telemóvel.</li>
                    <li>Informação do seu computador ou telemóvel, como a sua conexão à Internet, seu tipo de navegador, a versão e o sistema operativo, e o tipo de dispositivo.</li>
                    <li>Dados da conta do Utilizador: a informação dos pedidos realizados por parte do Utilizador, assim, como as avaliações e/ou comentários que realize sobre os mesmos.</li>
                </ul>
            </li>
            <li>Dados derivados da origem do Utilizador: se o Utilizador chega à Plataforma da URL através de uma fonte externa 
                (como seria, por exemplo, um link de outra página web ou de uma rede social), a URL recompila os dados da fonte da que procede ao Utilizador da URL.</li>
            <li>Dados derivados da gestão de incidentes: se o Utilizador abordar a Plataforma URL através do Formulário de Contato ou através do telefone URL, 
                a URL coletará as mensagens recebidas no formato utilizado pelo Utilizador e poderá usá-las e armazená-las para gerenciar incidentes presentes ou futuros.</li>
            <li>Dados derivados dos “cookies”: a URL utiliza cookies próprios e de terceiros para informar a navegação a seus utilizadores e com fins estatísticos.</li>
        </ul>
        <h1 class="privacy-title">Com que finalidade se recompilam os dados?</h1>
        <p>
            A URL utiliza os dados que recompila dos Utilizadores para quem pode aceder e se comunicar com a plataforma URL e prestar os 
            serviços que solicite o Utilizador através da sua conta na Plataforma URL, conforme o mecanismo descrito nos “Termos de Uso”.
        </p> 
        <p> 
            A URL também utiliza a informação para investigar e analisar como melhorar os serviços que presta aos Utilizadores, 
            assim como para desenvolver e melhorar as características do serviço que oferece.
        </p>    
        <p>    
            A URL também pode utilizar a informação dos Utilizadores com o propósito de detetar e investigar fraudes, 
            assim como outras atividades ilegais e quebras potenciais dos nossos “Termos & Condições”.
        </p>
        <p>    
            Internamente, a URL utiliza a informação com fins estatísticos com o efeito de analisar o comportamento e as tendências dos Utilizadores, 
            de compreender como os Utilizadores utilizam a Plataforma da URL, e de administrar e melhorar os serviços oferecidos, 
            incluindo a possibilidade de adicionar novos diferentes updates à Plataforma. Da mesma forma, a URL pode usar os dados 
            fornecidos para fins de gerenciamento de incidentes que possam ocorrer na prestação de serviços. A URL reserva-se o direito de armazenar 
            em seus próprios servidores ou em terceiros as comunicações em qualquer formato que tenha recebido dos Utilizadores.
        </p>
        <p>    
            Também, a URL poderá utilizar os dados pessoais que o Utilizador lhe informa para realizar comunicações 
            via e-mail ao Utilizador sobre a operação do serviço. A URL, enviará um resumo / recibo do pedido e do preço do mesmo para o e-mail do Utilizador. 
            Ao registar-se na Plataforma entender-se-á que o Utilizador aceita a presente Política de Privacidade e que, pelo tanto, autoriza a URL para realizar ambas as comunicações.
        </p>   
        <p>
            Da mesma forma, a URL, com o consentimento prévio do Utilizador, pode usar o endereço de entrega do pedido inserido pelo Utilizador 
            para realizar a entrega do pedido, desde que estes sejam autorizados pelos Utilizadores.
        </p>   
        <p>
            Se a propriedade da URL mudasse ou a maior parte dos seus ativos fossem adquiridos por um terceiro, os Utilizadores são 
            informados que a URL transfira os seus dados às entidades do adquirente com a finalidade de seguir prestando os serviços objetivos do tratamento de dados. 
            A nova pessoa responsável comunicará aos utilizadores seus dados de identificação. O URL afirma que cumprirá com o dever de informar a Autoridade de Controle pertinente, 
            caso as situações mencionadas ocorram. A URL informará os utilizadores sobre a mudança de pessoa responsável quando ela ocorrer.
        </p>   
            A URL não utiliza a informação dos Utilizadores para nenhum outro fim que os descritos na presente Política de Privacidade e os Termos de Uso.
        <p>    
            Os tratamentos definidos neste ponto são feitos pela URL ou por terceiros em nome da URL, conforme descrito no ponto a seguir, 
            dado o legítimo interesse da URL em melhorar os serviços oferecidos aos Utilizadores, bem como melhorar sua experiência de uso da URL 
            plataforma e cumprir com a relação contratual estabelecida entre o Utilizador e o URL.
        </p>
        <h1 class="privacy-title">A URL partilha os dados que recolhe?</h1>
        <p>
            Como se indicou no parágrafo anterior, os dados de carácter pessoal que a URL 
            recolhe serão exclusivamente utilizados para a consecução do objetivo definido nos “Termos de Uso”.
        </p>
        <p>
            Para o correto desenvolvimento da relação contratual e a consecução deste objetivo d'excelência na prestação do serviço, 
            a URL compartilhará certos dados de carácter pessoal dos Utilizadores com:
        </p>
        <p>
            Fornecedores de serviços: terceiros fornecedores de serviços da URL que executam pedidos de pagamento ou resolver incidentes em relação a 
            plataforma (website) terão acesso à informação pessoal dos Utilizadores, necessária para realizar as suas funções, mas não poderão utilizá-la para outros fins. 
            Estes deverão tratar a informação pessoal de conformidade com a presente Política de Privacidade e a legislação aplicável na matéria de proteção de dados.
        </p>
        <p>
            O Utilizador poderá receber também e-mails da URL para confirmar o pedido, organizar uma devolução ou solicitar a 
            avaliação do Utilizador sobre o pedido ou receba um resumo da ordem.
        </p>
        <p>
            URL garante que todos os sócios comerciais, técnicos, fornecedores, terceiros independentes estão unidos mediante promessas 
            contratualmente vinculativas para processar informação que se compartilhe com eles seguindo as indicações que a URL lhe dá, a presente Política de Privacidade, 
            assim como a legislação aplicável em matéria de proteção de dados. Na escolha dos prestadores de serviços, a URL pode transferir dados de utilizadores 
            fora das fronteiras da Área Econômica Europeia. Nestes casos, e antes do envio, a URL assegurará que esses prestadores de serviços cumpram os padrões 
            mínimos de segurança estabelecidos pela Comissão Europeia e que estes tratam os dados sempre de acordo com as instruções fornecidas pela URL. A URL 
            poderá ter um relacionamento contratual com eles onde os prestadores de serviços concordam em cumprir as instruções da URL e incorporar as medidas de 
            segurança necessárias para proteger os dados dos Utilizadores.
        </p>
        <p>
            Prévio requerimento legal, a URL poderá compartilhar informação com organismos de autoridades executivas e/ou terceiros em 
            relação a pedidos de informação relativas a investigações de carácter penal e supostas atividades ilegais.
        </p>
        <p>
            Para fornecer os serviços de URL, dependendo da área geográfica a partir da qual os utilizadores solicitam serviços de nós, 
            poderá transferir certos dados de carácter pessoal dos Utilizadores às suas filiais. Se informa os Utilizadores que aceitam, que quando se 
            registarem na Plataforma de qualquer país em que a URL atua, os seus dados serão armazenados no banco de dados da URL e propriedade da empresa URL ou 
            qualquer uma das suas subsidiárias. Os dados serão comunicados, no caso de subsidiárias fora do EEE, através dos sistemas habilitados pela Comissão Europeia e pelo Regulamento,
            aos países que tenham um nível adequado de proteção de dados pessoais ou através de contratos aprovados pela Comissão Europeia para os quais os 
            direitos das partes interessadas são estabelecidos e garantidos.
        </p>
        <p>
            Serviços de suporte e gerenciamento de incidentes: para oferecer um serviço de atendimento ao cliente e centro de atendimento, ações destinadas a medir o grau de satisfação dos 
            utilizadores e a prestação de serviços de suporte administrativo, a URL pode comunicar os dados dos Utilizadores para empresas localizadas em países fora do EEE, 
            desde que seja autorizado e os requisitos de segurança mencionados no ponto anterior sejam atendidos.
        </p>
        <p>
            Prestadores de serviços para a anonimização de alguns dados: para evitar o uso indevido dos dados dos Utilizadores por terceiros, a 
            URL pode atribuir os dados dos Utilizadores para que eles possam ser anonimizados e usados apenas para a prestação do serviço aos utilizadores. 
            Por exemplo, a URL pode atribuir a terceiros o número de telefone dos utilizadores para torná-los anônimos e fornecê-los neste formato aos provedores usados para 
            cumprir os serviços contratados pelos utilizadores.
        </p>
        <p>
            Os dados dos utilizadores do URL não serão transmitidos a terceiros, exceto que (I) é necessário para os serviços solicitados, no caso de URL colabora com terceiros (II) 
            quando URL tem autorização expressa e inequívoca do utilizador (III) quando solicitado pela autoridade competente no exercício de suas funções (para investigar, prevenir 
            ou tomar ações relacionadas a ações ilegais) ou (IV) finalmente, se exigido por lei.
        </p>
        <p>
            Com o consentimento do Utilizador: informar-se-á o Utilizador no caso de qualquer informação sobre o mesmo, se põe em conhecimento dos sócios comerciais da Plataforma e/ou web, 
            ou bem como terceiros, com carácter diferente às finalidades expostas nos Termos de Uso de URL (i.e. com fins comerciais), ao objetivo de que tenha a oportunidade de decidir 
            que não se compartilha a sua informação.
        </p>
        <p>
            Com o consentimento do Utilizador também: para terceiros, não parceiros comerciais, mas sem qualquer link para a URL, mas desde que haja autorização prévia e 
            inequívoca pelo Utilizador.
        </p>
        <p>
            Nenhuma das comunicações de dados anterior incluirá vender, alugar, compartilhar ou revelar de outra maneira informação pessoal de clientes com 
            fins comerciais de modo contrário aos compromissos adquiridos na presente Política de Privacidade.
        </p>
        <p>
            O URL compartilha as informações dos Utilizadores conforme descrito para cumprir com os regulamentos aplicáveis, para ajudar a URL a melhorar a provisão de seus serviços, 
            para cumprir com a relação contratual com o Utilizador, bem como com o interesse legítimo da URL.
        </p>
        <h1 class="privacy-title">Direitos dos Utilizadores</h1>
        <h1 class="privacy-title">Por quanto tempo conservaremos os seus dados?</h1>
        <p>
            Os dados pessoais proporcionados serão conservados enquanto não solicitada a sua supressão pelo interessado.
            Em caso de retirada do consentimento ou oposição ao tratamento, os dados serão bloqueados e deixarão de ser tratados e 
            serão mantidos por um período de 4 anos, a fim de poder nos reivindicar ou nos defender de possíveis reivindicações.
        </p>
        <h1 class="privacy-title">Direito de retirar seu consentimento</h1>
        <p>
            A qualquer momento, o utilizador pode retirar o consentimento para o processamento de dados pela URL.
        </p>
        <p>
            Para sua retirada, será suficiente para o utilizador enviar através de <strong>e-mail</strong> ou ligar para o número presente no <strong>rodapé na secção 'Contatos'</strong>. 
            A retirada do consentimento pode ser realizada em qualquer momento pelo interessado. Os Utilizadores aceitam e concordam que a retirada do consentimento 
            implica que a URL não pode fornecer os serviços de sua Plataforma.
        </p>
        <h1 class="privacy-title">A que informação podem aceder os Utilizadores?</h1>
        <p>
            A URL dá ao Utilizador acesso a uma grande quantidade de informação sobre a sua conta e as suas operações em URL/conta/profile/ para que possa ver e, 
            em certos casos, atualizar esta informação. Todos os Utilizadores poderão entrar no seu perfil e completá-lo e/ou editá-lo conforme estime conveniente caso 
            tenha alguma dificuldade poderá sempre entrar em contacto com o suporte que fará essa alteração por si. A informação e dados informados pelo Utilizador 
            estarão em todo momento disponíveis na sua conta de utilizador e poderão ser modificados pelo Utilizador através da opção editar perfil.
        </p>
        <p>
            Direitos de acesso, retificação, supressão, limitação do tratamento, oposição e direito à portabilidade dos dados
        </p>
        <p>
            O direito de acesso é concebido como o direito de o utilizador solicitar à URL tratar de qualquer um dos seus dados, juntamente com 
            as informações estabelecidas no artigo 15 do Regulamento.
        </p>
        <p>
            Conforme estabelecido no artigo 16 do Regulamento, o Utilizador pode solicitar à URL que recupere os dados presentes em sua base de dados se estiverem incompletos.
        </p>
        <p>
            O direito de supressão habilita o Utilizador a solicitar à URL a supressão de seus dados pessoais nos casos previstos no artigo 17 do Regulamento. 
            Se o Utilizador o solicitar, com base nas condições do Artigo 18 do Regulamento, a URL limitará o uso de seus dados ao estabelecido nesse artigo.
        </p>
        <p>
            O artigo 20 do regulamento regula o direito à portabilidade que os utilizadores possuem, o que lhes permitirá solicitar à URL que envie todos os dados que 
            tenham em formato estruturado e leitura automática, podendo solicitar que sejam transmitidos a outra parte responsável pelo mesmo.
        </p>
        <p>
            Pedido do utilizador. O Utilizador também terá o direito de se opor ao tratamento de dados pessoais detidos pela URL no seu poder conforme estabelecido no 
            Artigo 21 do mesmo Regulamento. O exercício deles é muito pessoal, por isso será necessário que a parte afetada prove sua identidade.
        </p>
        <p>
            O exercício desses direitos deve ser feito por escrito, assinado pelo proprietário dos dados, indicando seu endereço, anexando uma cópia do 
            Documento Nacional de Identidade ou outro documento de apoio, à URL, através do Formulário de Contato ou os escritórios da URL.
        </p>
        <h1 class="privacy-title">Quais são as opções que os Utilizadores têm?</h1>
        <p>
            O Utilizador poderá exercer os seus direitos de acesso, retificação, cancelamento e oposição, tendo em conta que o exercício dos mesmos é muito pessoal, 
            pelo que será necessário que o afetado abone a sua identidade. O exercício destes direitos deverá realizar-se por escrito, assinado pelo titular dos dados, 
            com indicação do seu domicílio, anexando uma cópia do seu Documento Nacional de Identidade ou outro documento credenciado, dirigindo-se a URL, e 
            conectar-se via e-mail ou WhatsApp.
        </p>
        <p>
            Além do exercício dos direitos descritos acima, os utilizadores têm o direito de enviar uma reivindicação à autoridade de controle para o conhecimento de sua reivindicação.
        </p>
        <h1 class="privacy-title">Como protegemos os dados dos Utilizadores?</h1>
        <p>
            URL, adotou as medidas necessárias recomendado pela Comissão Europeia e pela autoridade competente para manter o nível de segurança requerida, 
            conforme a natureza dos dados pessoais tratados e as circunstâncias do tratamento, com o objetivo de evitar, na medida do 
            possível e sempre conforme o estado da técnica, a sua alteração, perda, tratamento ou acesso não autorizado. Como se mencionou anteriormente, os 
            dados pessoais informados não serão cedidos a terceiros sem autorização prévia por parte do titular dos mesmos.
        </p>
        <h1 class="privacy-title">Notificações e modificações</h1>
        <p>
            Como se indicou anteriormente, todos os Utilizadores têm direitos a entrar, atualizar e cancelar os seus dados, assim como opor-se ao seu tratamento. 
            Pode exercer estes direitos ou realizar qualquer consulta em relação à Política de Privacidade de URL ao URL/contatos.
        </p>
        <p>
            A causa da contínua evolução das atividades da URL, a presente Política de Privacidade, a Política de Cookies e os Termos de Uso poderão igualmente modificar-se. 
            URL enviará ao Utilizador avisos sobre as mudanças e modificações substanciais destes documentos através do e-mail, a menos que os Utilizadores tenham selecionado 
            que não se faça ou de outro meio que garanta a sua receção. De todas as formas, a URL em nenhum caso modificará as políticas nem práticas para fazê-las menos eficazes na 
            proteção dos dados pessoais dos nossos clientes armazenados anteriormente.
        </p>
    </section>
</div>

<style>
    .privacy-container {
        max-width: 900px; /* Largura aumentada */
        margin: 30px auto; /* Adicionado espaço acima para afastar do header */
        padding: 30px 40px; /* Margem interna ajustada */
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
    }

    .privacy-section {
        margin-bottom: 20px;
    }

    .privacy-title {
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 15px;
    }

    .privacy-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
    }

    .privacy-table th {
        background-color: #2c3e50;
        color: #fff;
        padding: 10px;
        text-align: left;
        font-size: 18px;
    }

    .privacy-table td {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 16px;
        color: #4f4f4f;
    }

    .privacy-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .privacy-table tr:hover {
        background-color: #eaeaea;
    }

    .privacy-container p,
    .privacy-container li { /* Adicionando o estilo das bullets */
        font-size: 16px;
        color: #4f4f4f;
        margin-bottom: 15px;
    }

    .privacy-container a {
        color: #3498db;
        text-decoration: none;
        font-weight: bold;
    }

    .privacy-container ol {
        margin-left: 20px;
        padding-left: 20px;
        color: #4f4f4f;
        font-size: 16px;
        list-style-type: decimal; /* Tipo de lista numerada */
    }

    .privacy-container ol li {
        margin-bottom: 10px; /* Espaçamento entre os itens */
        line-height: 1.6; /* Melhora o espaçamento das linhas */
    }

    .privacy-container a:hover {
        text-decoration: underline;
    }

    .circle-list {
        list-style-type: circle; /* Bolinha vazada */
        margin-left: 20px; /* Identação */
        padding-left: 20px;
    }

    .circle-list li {
        margin-bottom: 10px;
        line-height: 1.6;
        font-size: 16px;
        color: #4f4f4f;
    }

    .disc-list {
        list-style-type: disc; /* Bolinha preenchida */
        margin-left: 20px;
        padding-left: 20px;
    }

    .disc-list li {
        margin-bottom: 10px;
        line-height: 1.6;
        font-size: 16px;
        color: #4f4f4f;
    }
    
    mark {
        background-color: #ffc107; /* Amarelo personalizado */
        color: #000; /* Cor do texto */
        padding: 0.2em;
        border-radius: 0.2em;
    }

    ul {
        list-style-type: disc; /* Alternativa: circle, square */
        margin-left: 20px; /* Indentar */
        padding-left: 20px;
    }

    ol {
        margin-left: 20px;
        padding-left: 20px;
        color: #4f4f4f;
        font-size: 16px;
        list-style-type: decimal;
    }

    ul li {
        margin-bottom: 10px;
        line-height: 1.6;
        color: #4f4f4f;
        font-size: 16px;
    }

    ol li {
        margin-bottom: 10px;
        line-height: 1.6;
    }


</style>
{% endblock %}
