{% extends 'base.html' %}
{% load static %}

{% block page_title %}
<h1 class="custom-header-title">Termos e Condições</h1>
{% endblock %}

{% block content %}
<div class="privacy-container">
    <section class="privacy-section">
        <h1 class="privacy-title">1. Serviços Oferecidos </h1>
        <p>
            <strong>1.1</strong> Este <strong>termo</strong> tem como propósito estabelecer um regulamento para o uso do serviço oferecido pela <strong>URL</strong> aos 
            <strong>utilizadores</strong>, permitindo que estes escolham, através da nossa plataforma, as refeições disponíveis, preparadas exclusivamente pela proprietária do site 
            <strong>URL</strong>. Os <strong>utilizadores</strong> podem efetuar pedidos para aquisição (via online) e optar pela entrega ao domicílio ou recolha em take-away, 
            de acordo com o menu disponibilizado no nosso site. Adicionalmente, é possível realizar o pagamento do valor dos produtos de forma online (quando aplicável).
        </p>
        <p>
           <strong>1.2</strong> O serviço da <strong>URL</strong> consiste em oferecer, através do nosso site, um menu variado de refeições preparadas exclusivamente pela 
           proprietária do site <strong>URL</strong>. Os <strong>utilizadores</strong> podem efetuar pedidos diretamente no site, com a opção de entrega ao domicílio ou recolha em take-away, e realizar o 
           pagamento de forma online, quando aplicável.
        </p>
        <p>
            <strong>1.3</strong> Fica desde já esclarecido ao <strong>utilizador</strong> — o qual se declara ciente — que o serviço oferecido pela <strong>URL</strong> abrange todas as etapas relacionadas à 
            comercialização de produtos alimentícios, incluindo o preparo, embalagem, disponibilização e entrega física dos produtos. A <strong>URL</strong> é responsável por todo o processo, 
            desde a produção até a entrega, garantindo a qualidade e o atendimento ao cliente. Refeições podem ser fornecidas tanto para eventos como para consumo particular, 
            de acordo com as necessidades do cliente. Quaisquer reclamações relacionadas a vícios, defeitos ou erros no preparo e na entrega dos produtos devem ser direcionadas 
            diretamente à <strong>URL</strong>, que se compromete a tratá-las com a devida atenção e celeridade. A nossa atividade principal está registada no CAE 56210-R3 - "Fornecimento de 
            Refeições para Eventos ou consumo particular", e como CAE secundário 47910 - "Comércio a Retalho por Correspondência ou via Internet".
        </p>
        <p>
            <strong>1.4</strong> Os valores dos produtos apresentados neste site são definidos exclusivamente pela <strong>URL</strong> e 
            refletem o custo das refeições preparadas e disponibilizadas para entrega ao domicílio ou recolha em take-away. 
            Todos os preços são cuidadosamente ajustados para garantir a transparência e a melhor relação custo-benefício para os <strong>utilizadores</strong>.
        </p>
        <h1 class="privacy-title">2. Registo </h1>
        <p>    
            <strong>2.1</strong> O <strong>utilizador</strong>, para utilizar os serviços anteriormente descritos, deverá ter capacidade jurídica para atos civis e deverá, 
            necessariamente, prestar as informações exigidas no <strong>registo</strong>, assumindo integralmente a responsabilidade — inclusive cível e criminal — pela exatidão e 
            veracidade das informações fornecidas no <strong>registo</strong>, que poderá ser verificado, a qualquer momento, pela <strong>URL</strong>.
        </p>
        <p>
            <strong>2.2</strong> Em caso de informações incorretas, inverídicas ou não confirmadas, bem assim na hipótese da negativa em corrigi-las ou enviar 
            documentação que comprove a correção, a <strong>URL</strong> reserva-se o direito de não concluir o <strong>registo</strong> em curso ou, ainda, de bloquear 
            o <strong>registo</strong> já existente, o <strong>utilizador</strong> de utilizar os serviços on-line até que, a critério da <strong>URL</strong>, a situação de anomalia esteja regularizada. 
            A <strong>URL</strong> reserva-se o direito de impedir, a seu critério, novos <strong>registos</strong>, ou cancelar os já efetuados, em caso de ser detectada anomalia que, 
            em sua análise, seja revestida de gravidade ou demonstre tentativa deliberada de burlar as regras aqui descritas, obrigatórias para todos os <strong>utilizadores</strong>. 
            Também agirá a <strong>URL</strong> de tal forma caso verifique o não cumprimento, pelo <strong>utilizador</strong>, de qualquer obrigação prevista no presente termo.
        </p>
        <p>
            <strong>2.3</strong> Após o <strong>registo</strong> ser efetuado com sucesso, o <strong>utilizador</strong> terá acesso aos serviços por meio de login (nome de utilizador e palavra-chave) dados dos 
            quais o <strong>utilizador</strong> se compromete a não divulgar a terceiros, ficando sob sua exclusiva responsabilidade qualquer solicitação de serviço que seja 
            feita através do uso do login de sua titularidade.
        </p>
        <h1 class="privacy-title">3. Obrigações do Utilizador</h1>
        <p>
            <strong>3.1</strong> Efetuado com sucesso o <strong>registo</strong> do <strong>utilizador</strong>, este se obriga a não divulgar a terceiros as suas informações pessoais de login 
            (nome de usuário e palavra-chave), além de não permitir o uso de tais informações por terceiros, responsabilizando-se pelas consequências do uso 
            indevido das informações de login de sua titularidade.
        </p>
        <p>
            <strong>3.2</strong> O <strong>utilizador</strong> tem como obrigação, fornecer informações de registo totalmente verídicas e exatas, responsabilizando-se exclusiva e integralmente 
            — de todas as formas jurídicas — por todo o conteúdo por si informado no item <strong>registo</strong>, mantendo atualizado e confirmado para 
            prestação do serviço e entrega dos produtos encomendados.
        </p>
        <p>
            <strong>3.3</strong> O <strong>utilizador</strong> obriga-se, também, a pagar integralmente o valor dos produtos por si solicitados ou encomendados no <strong>URL</strong> e 
            efetivamente a si entregues, seja pela modalidade on-line ou por qualquer outra forma, diretamente ao portador dos produtos encomendados por meio deste 
            site (dinheiro, cheque, tickets, etc.).
        </p>
        <p>
            <strong>3.4</strong> O <strong>utilizador</strong> concorda com o uso das informações de avaliações e feedbacks do serviços dos <strong>URL</strong>, 
            conforme descrito nos <strong>"Termos e Condições"</strong> da <strong>URL</strong>.
        </p>
        <p>
            <strong>3.5</strong> O <strong>utilizador</strong>, terá que ter sempre actualizados os seus contactos telefónicos, de forma a <strong>URL</strong> estabeleça contacto por algum 
            motivo relacionado com a sua encomenda. Caso não consigamos estabelecer contacto, a <strong>URL</strong> poderá <u>Cancelar a encomenda</u>.
        </p>
        <h1 class="privacy-title">4. Obrigações do URL</h1>
        <p>
            <strong>4.1</strong> A <strong>URL</strong> tem como obrigação disponibilizar no site <u><i>www.URL.pt</u></i> uma plataforma virtual que permita ao <strong>utilizador</strong> 
            devidamente registado efetuar pedidos de refeições preparadas e comercializadas exclusivamente pela proprietária do site. Além disso, oferecemos ao 
            <strong>utilizador</strong>  opções seguras para o pagamento online do valor dos produtos adquiridos.
        </p>
        <p>
            <strong>4.2</strong> Proteger, por meio de armazenamento em servidores ou quaisquer outros meios magnéticos de alta segurança, 
            a confidencialidade de todas as informações e registos relativos aos <strong>utilizadores</strong>, assim como valores relativos às operações 
            financeiras advindas da operacionalização dos serviços previstos no presente <strong>termo</strong>. Contudo, não responderá pela reparação de 
            prejuízos que possam ser derivados de apreensão e cooptação de dados por parte de terceiros que, rompendo os sistemas de segurança, 
            consigam aceder à estas informações.
        </p>
        <h1 class="privacy-title">5. Modificações deste termo</h1>
        <p>
            <strong>5.1</strong> O presente <strong>Termo</strong> poderá, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados 
            para adequações e inserções, tendo como objetivo o a melhoria dos serviços disponibilizados.
        </p>
        <p>
            <strong>5.2</strong> As novas condições entrarão em vigor assim que sejam inseridas no site, sendo possível 
            ao <strong>utilizador</strong> manifestar oposição a quaisquer dos termos modificados, desde que o faça por escrito, através do 
            site <u><i>www.URL.pt</u></i>, o que gerará o cancelamento de seu registo.
        </p>
        <h1 class="privacy-title">6. Canal de comunicação</h1>
        <p>
            <strong>6.1</strong> Para estabelecer contato entre a <strong>URL.pt</strong> e o <strong>utilizador</strong> fica disponibilizado o endereço 
            eletrônico deste link, sendo certo que o <strong>utilizador</strong> se compromete, igualmente, a manter em seu registo de endereço 
            eletrônico atualizado, do qual se farão as comunicações a ele enviadas pela <strong>URL.pt</strong>, desde logo tendo validade 
            jurídica e efetividade a esse meio eletrônico de troca de informações recíprocas.
        </p>
        <p>
            <strong>6.2</strong> O <strong>utilizador</strong>, terá que ter sempre actualizado os seus contactos telefónicos, 
            para a eventual necessidade de contacto por parte da <strong>URL.pt</strong>. 
        </p>
        <p>
            <strong>6.3</strong> O <strong>utilizador</strong> poderá ser contactado pelos nossos serviços ao realizar encomendas superiores a 
            50€, como forma de garantir a veracidade do pedido. Caso não seja possível estabelecer contacto com o <strong>utilizador</strong>, 
            a encomenda será considerada sem efeito e poderá ser <strong>cancelada</strong> pelos nossos serviços e o <strong>montante será devolvido</strong>. 
            A <strong>URL.pt</strong> reserva-se o direito de aceitar ou recusar encomendas de valor elevado, de acordo com a política interna.
        </p>
        <h1 class="privacy-title">7. Faturação</h1>
        <p>
            <strong>7.1</strong> Ao adquirir o serviço, o <strong>utilizador</strong> expressamente aceita, que a <strong>fatura</strong> é emitida como "Serviço de Recolha e Entrega", no valor 
            global do serviço requisitado.
        </p>
        <p>
            <strong>7.2</strong> As <strong>faturas</strong> são enviadas por correio electónico, que o <strong>utilizador</strong> indicou ao efectuar o seu <strong>registo</strong>.
        </p>
        <p>
            <strong>7.3</strong> O <strong>Utilizador</strong> ao efectuar a sua encomenda, deverá, caso deseje <strong>fatura</strong> com <strong>NIF</strong> indicar no acto da encomenda.
        </p>
        <h1 class="privacy-title">8. Aceitação do termo de utilização</h1>
        <p>
            <strong>8.1</strong> O <strong>utilizador</strong> declara ter lido, entendido e que aceita todas as regras, condições e obrigações estabelecidas no presente <strong>termo</strong>.
        </p>
        <h1 class="privacy-title">9. Legalidade do termo</h1>
        <p>
            <strong>9.1</strong> Ambas as partes elegem como competente para resolver eventuais controvérsias que venham a 
            surgir da interpretração e cumprimento do presente <strong>termo</strong>, o <strong>Tribunal de Vila Nova de Gaia</strong>.
        </p>
    </section>
</div>

<style>
    .privacy-container {
        max-width: 900px; /* Largura aumentada */
        margin: 30px auto; /* Adicionado espaço acima para afastar do header */
        padding: 30px 40px; /* Margem interna ajustada */
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
    }

    .privacy-section {
        margin-bottom: 20px;
    }

    .privacy-title {
        font-size: 24px;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 15px;
    }

    .privacy-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
    }

    .privacy-table th {
        background-color: #2c3e50;
        color: #fff;
        padding: 10px;
        text-align: left;
        font-size: 18px;
    }

    .privacy-table td {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 16px;
        color: #4f4f4f;
    }

    .privacy-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .privacy-table tr:hover {
        background-color: #eaeaea;
    }

    .privacy-container p,
    .privacy-container li { /* Adicionando o estilo das bullets */
        font-size: 16px;
        color: #4f4f4f;
        margin-bottom: 15px;
    }

    .privacy-container a {
        color: #3498db;
        text-decoration: none;
        font-weight: bold;
    }

    .privacy-container ol {
        margin-left: 20px;
        padding-left: 20px;
        color: #4f4f4f;
        font-size: 16px;
        list-style-type: decimal; /* Tipo de lista numerada */
    }

    .privacy-container ol li {
        margin-bottom: 10px; /* Espaçamento entre os itens */
        line-height: 1.6; /* Melhora o espaçamento das linhas */
    }

    .privacy-container a:hover {
        text-decoration: underline;
    }

    .circle-list {
        list-style-type: circle; /* Bolinha vazada */
        margin-left: 20px; /* Identação */
        padding-left: 20px;
    }

    .circle-list li {
        margin-bottom: 10px;
        line-height: 1.6;
        font-size: 16px;
        color: #4f4f4f;
    }

    .disc-list {
        list-style-type: disc; /* Bolinha preenchida */
        margin-left: 20px;
        padding-left: 20px;
    }

    .disc-list li {
        margin-bottom: 10px;
        line-height: 1.6;
        font-size: 16px;
        color: #4f4f4f;
    }
    
    mark {
        background-color: #ffc107; /* Amarelo personalizado */
        color: #000; /* Cor do texto */
        padding: 0.2em;
        border-radius: 0.2em;
    }

    ul {
        list-style-type: disc; /* Alternativa: circle, square */
        margin-left: 20px; /* Indentar */
        padding-left: 20px;
    }

    ol {
        margin-left: 20px;
        padding-left: 20px;
        color: #4f4f4f;
        font-size: 16px;
        list-style-type: decimal;
    }

    ul li {
        margin-bottom: 10px;
        line-height: 1.6;
        color: #4f4f4f;
        font-size: 16px;
    }

    ol li {
        margin-bottom: 10px;
        line-height: 1.6;
    }


</style>
{% endblock %}
