{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Header -->
    <section class="header-section" style="background: url('{% static "assets/food_header.jpg" %}') center center/cover no-repeat; height: 500px; width: 100%;">
    </section>

    <!-- Section -->
    <div class="custom-pattern py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <br/>
                <strong>Informações Pessoais</strong>
                <form method="POST" action="{% url 'update_info' %}">
                    {% csrf_token %}
                    <br/>
                    {{ form.as_p }}
                    <br/>
                    <strong>Informações de Envio</strong>
                    <br/><br/>
                    {{ shipping_form.as_p }}
                    <button type="submit" class="btn btn-secondary">Atualizar Perfil</button>
                </form>
                <br/>
                <a href="{% url 'update_password' %}" class="btn btn-danger">Alterar Password</a>
                <br/><br/>
            </div>
        </div>
    </div>

{% endblock %}
